## Movies Dataset
Unit 5 Database

In [1]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_d0b329ed589f4d8792a28797f32cedfa = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='ATpqQffdVQg95wqZN6yaIIxO4IM4j4c1LN4zt8OrL9U8',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_d0b329ed589f4d8792a28797f32cedfa.get_object(Bucket='myfirstproject-donotdelete-pr-bn1am4m46vehtn',Key='U5_Movie_Dateset.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_0 = pd.read_excel(body)
df_data_0.head()

,Title,Director_FirstName,Director_LastName,Genre,Star_FirstName,Star_LastName,Rating,Producer_FirstName,Producer_LastName
0,Arsenic and Old Lace,Frank,Capra,Comedy,Cary,Grant,8.1,NaN,Warner Bros.
1,Mr. Smith Goes To Washington,Frank,Capra,Drama,James,Stewart,8.3,NaN,Columbia Pictures
2,Meet John Doe,Frank,Capra,Comedy,Gary,Cooper,7.7,Frank,Capra
3,The Caine Mutiny,Edward,Dmytryk,Drama,Humphrey,Bogart,7.9,NaN,Columbia Pictures
4,The African Queen,John,Huston,Action,Humphrey,Bogart,7.9,NaN,Romulus Films